<html ng-app="bookmarksApp">
<head>
  <link href="./bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="./bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="./index.css" rel="stylesheet">
</head>
  <body  ng-controller="indexCtrl">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <a class="navbar-brand" href="/app">Root</a>
          <a class="navbar-brand" ng-if="currentDir.folderName !== 'root'">/{{currentDir.folderName}}</a>
        </div>
    </nav>
    <div class="container">
      <div class="row">
        <div id="bookmark-area" class="col-lg-6">
          <h3>Add bookmarks</h3>
          <div id="bookmark">
            <div id="text-group">
              <input id="title" type="text" placeholder="Title">
              <input id="url" type="text" placeholder="URL">
              <button id="add-bookmark" class="fa fa-plus btn btn-success"></button>
              <div class="error hidden">
               <p class="text-danger">Both fields are mandatory</p>
              </div>
            </div>
            <div class="bookmark-list" id="{{bookmark._id}}" ng-repeat="bookmark in bookmarks | filter: {folder: currentDir.folderName}" ng-draggable>
              <span><i class="fa fa-navicon"></i></span>
              <input type="text" id="{{bookmark._id}}" name="title" value="{{bookmark.title}}" ng-disabled="!bookmark.editMode">
              <input type="text" id="{{bookmark._id}}" name="url" value="{{bookmark.url}}" ng-disabled="!bookmark.editMode">
              <button class="btn btn-primary" name="edit" id="{{bookmark._id}}" ng-click="doEdit(bookmark._id)">Edit</button>
              <button class="btn btn-success" ng-class="{hide : !bookmark.editMode}" name="save" id="{{bookmark._id}}" ng-click="doSave(bookmark._id)">Save</button>
              
              <button class="btn btn-danger fa fa-trash" name="delete" id="{{bookmark._id}}" ng-click="doDelete(bookmark._id)"></button>
            </div>
          </div>
        </div>
        <div id="folder-area" class="col-lg-6">
          <h3><button class="btn btn-primary" name="newfolder" ng-click="doCreateFolder()">Create new folder</button></h3>
          <div class="folder-area">
            <div class="folder-unit create-folder hide">
              <div class="folder-image">
                <img src="./images/newfolder.png" width="100px" height="100px">
              </div>
              <div class="folder-name">
                <input type="text" placeholder="New folder" name="filename" ng-enter="doSaveFolder(event)">
              </div>
            </div>
            <div ng-repeat="folder in folders" ng-droppable id="{{folder._id}}" ng-if="folder.name !== currentDir.folderName">
              <div class="folder-unit" id="{{folder._id}}">
                <div class="folder-image">
                  <img src="./images/newfolder.png" width="100px" height="100px">
                  <button class="fa fa-trash" name="delete-folder" id="{{folder._id}}" ng-click="doDeleteFolder(folder._id)"></button>

                </div>
                <div class="folder-name">
                  <input type="text" placeholder="New folder" value="{{folder.name}}" name="filename">
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>

    <script src="./bower_components/angular/angular.min.js"> </script>
    <script src="./bower_components/angular-route/angular-route.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./bower_components/underscore/underscore-min.js"></script>
    <script src="./bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="./app.js"></script>
    <script src="./services/adapter.js"></script>
    <script src="./directives/directives.js"></script>

    <!-- <script src="./indexCtrl.js"></script> -->

  </body>
</html>

